/* Agregando texto para una prueba */

:root {
    /* Colores */
    --bitcoin-orange : #F7921A;
    --soft-orange : #FFE9D5;
    --secondary-blue : #1A9AF7;
    --soft-blue : #E7F5FF;
    --warm-black : #201E1C;
    --warm-black-1 : #282623;
    --grey : #BABABA;
    --off-white : #FAF8F7;
    --just-white : #FFFFFF;
}

/* Reseteo de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes */
html {
    font-family: 'DM Sans', sans-serif;
}

.index__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 334px repeat(4, 1fr);
    background-color: var(--off-white);
   
}

.index__header
{
    width: 100%;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

}

.index__logo-principal{
    width: 129;
    height: 25px;
    margin: 30px 0;
}

.index__titulo{
    width: 288px;
    
    margin: 20px auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: var(--just-white);

}

.index__parrafo-principal{
    width: 288px;
    margin: 10px  auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--soft-orange);

}

.index__navegacion-planes{
    position: absolute;
    width: 260px;
    height: 48px;
    padding: 10px;
    padding-top: 12px;
    text-decoration: none;
    top:310px;
    left: calc(50% - 132px);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    color: var(--warm-black);
    
}

/* Creando un estilo para cada icono */
.index__icons{
    display: inline-block;
    width: 13px;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
}



/* Span del icono del botón de navegación */
.index__icon-button-navegacion{
    
    background-image: url("./assents/icons/down-arrow.svg");
    
    margin-left: 15px;
}

/* .......................... */
/* Dandole estilos al Main */
/* .......................... */


/* Dandole estilos a la sección 1 */

.index-main__section-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.index-main__logo-bit{
    display: inline-block;
    width: 195px;
    height: 195px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    
    
}

.index-main__title-seccion-2{
    width: 288px;
    height: 52px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: var(--warm-black);
}

.index-main__parrafo-seccion-2{
    width: 288px;
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #757575 ;
}

.index-main__title-monedas{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FF9536;
    margin: auto;
    margin-top: 20px;
}

.index-main__precio-monedas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.index-main__contenedor-tabla-precios{
    width: 197px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 8px;
    grid-gap: 1px;
}

.index-main__celda-tabla{
    background-color: var(--just-white);
}

.index-main__celda-tabla--arriba-izq{
    background-color: var(--just-white);
    border-radius: 8px 0 0 0;
}

.index-main__celda-tabla--arriba-der{
    background-color: var(--just-white);
    border-radius: 0 8px 0 0;
}

.index-main__celda-tabla--abajo-izq{
    background-color: var(--just-white);
    border-radius: 0 0 0 8px;
}

.index-main__celda-tabla--abajo-der{
    background-color: var(--just-white);
    border-radius: 0 0 8px 0;
}

.index-main__moneda{
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #B5B0AC;
}

.index-main__precio {
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 11px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #757575;
}

.index-main__icon-down {
    
    background-image: url("/css/assents/icons/trending-down.svg");
    margin-left: 10px;
}

.index-main__icon-up {
    background-image: url("/css/assents/icons/trending-up.svg");
    margin-left: 10px;
}

.index-main__icono-flecha-izquierda{
    background-image: url("/css/assents/icons/left-arrow.svg");
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.index-main__icono-flecha-derecha{
    background-image: url("/css/assents/icons/right-arrow.svg");
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

