/* Agregando texto para una prueba */

:root {
    /* Colores */
    --bitcoin-orange : #F7921A;
    --soft-orange : #FFE9D5;
    --secondary-blue : #1A9AF7;
    --soft-blue : #E7F5FF;
    --warm-black : #201E1C;
    --warm-black-1 : #282623;
    --grey : #BABABA;
    --off-white : #FAF8F7;
    --just-white : #FFFFFF;
}

/* Reseteo de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes */
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.index__body {
    
    background-color: var(--off-white);
   
}

.index__header
{
    width: 100%;
    min-width: 320;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.index__logo-principal{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.index-header__title-container{
    width: 90%;
    min-width: 90px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.index__titulo{
    
    
    
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);

}

.index__parrafo-principal{
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: var(--soft-orange);

}

.index__navegacion-planes{
    position: absolute;
    display: block;
    width: 260px;
    height: 48px;
    padding: 15px;
    margin-top: 35px;
    text-decoration: none;
    top:270px;
    left: calc(50% - 118px);
    font-size: 1.6rem;
    border: none;
    font-weight: bold;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    color: var(--warm-black);
    
}

/* Creando un estilo para cada icono */
.index__icons{
    display: inline-block;
    width: 13px;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
}



/* Span del icono del botón de navegación */
.index__icon-button-navegacion{
    
    background-image: url("./assents/icons/down-arrow.svg");
    
    margin-left: 15px;
}

/* .......................... */
/* Dandole estilos al Main */
/* .......................... */


/* Dandole estilos a la sección 1 (Tabla de precios) */

.index-main__section-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.index-main__logo-bit{
    display: inline-block;
    width: 195px;
    height: 195px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    
    
}

.index-main__title-seccion-2{
    width: 288px;
    height: 52px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: var(--warm-black);
}

.index-main__parrafo-seccion-2{
    width: 288px;
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #757575 ;
    
}

.index-main__title-monedas{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FF9536;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.index-main__precio-monedas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    
}

.index-main__contenedor-tabla-precios{
    width: 197px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 8px;
    grid-gap: 1px;
}

.index-main__celda-tabla{
    background-color: var(--just-white);
}

.index-main__celda-tabla--arriba-izq{
    background-color: var(--just-white);
    border-radius: 8px 0 0 0;
}

.index-main__celda-tabla--arriba-der{
    background-color: var(--just-white);
    border-radius: 0 8px 0 0;
}

.index-main__celda-tabla--abajo-izq{
    background-color: var(--just-white);
    border-radius: 0 0 0 8px;
}

.index-main__celda-tabla--abajo-der{
    background-color: var(--just-white);
    border-radius: 0 0 8px 0;
}

.index-main__moneda{
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #B5B0AC;
}

.index-main__precio {
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 11px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #757575;
}

.index-main__icon-down {
    
    background-image: url("/css/assents/icons/trending-down.svg");
    margin-left: 10px;
}

.index-main__icon-up {
    background-image: url("/css/assents/icons/trending-up.svg");
    margin-left: 10px;
}

.index-main__icono-flecha-izquierda{
    background-image: url("/css/assents/icons/left-arrow.svg");
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.index-main__icono-flecha-derecha{
    background-image: url("/css/assents/icons/right-arrow.svg");
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.index-main__actualizado{
    width: 173px;
    /* height: 15px; */
    padding: 5px;
    margin: auto;
    margin-bottom: 50px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: var(--warm-black);
    background-color: var(--soft-orange);
    border-radius: 8px;
}


/* Dandole estilos a la sección dos (Tarjetas) */



.index-main__section-2{
    width: 100%;
    background-color: var(--warm-black);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.index-main__icon-patata{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("./assents/icons/batata.svg");
    top: -27px;
    left: calc(50% - 25px);
}


.index-main__title-section-2{
    width: 288px;
    height: 52px;
    margin: auto;
    margin-top: 50px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;

    color: var(--just-white);
    text-align: center;

}

.index-main__parrafo-section-2{

    width: 288px;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #808080;
}

.index-main__cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 60px;

}

/* Contenedor de la tarjeta */

.index-main-cards{

    width: 288px;
    height: 152px;
    margin-top: 16px;
    background-color: #292727;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
    border-radius: 4px;
}

.index-main__title-cards{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: var(--just-white);
    margin: 5px 0 5px 8px;
}

.index-main__parrafo-cards{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color:#808080;
    margin: 10px 0 0 8px;
}

/* Estilando los iconos de las tarjetas */

.index__icons--cards{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 8px;
    margin-top: 5px;

}

.index-main__icon-time{
    background-image: url("/css/assents/icons/clock.svg");
    
}

.index-main__icon-eyes{
    background-image: url("/css/assents/icons/eye.svg");
}

.index-main__icon-money{
    background-image: url("/css/assents/icons/dollar-sign.svg");
}

.index-main__icon-check{
    background-image: url("/css/assents/icons/check-circle.svg");
}




/* Estilando la sección 3 (imagen) */

.index-main__section-3{
    width: 100%;
    height: 50vh;
    background-image: url("/css/assents/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.index-main__title-section-3{
    width: 288px;
    height: 26px;
    margin: auto;
    padding-top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--just-white);
}

/* Sección 4 (Pagos) */


.index-main__title-section-4{
    width: 288px;
    height: 52px;
    margin: auto;
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-align: center;

    color: var(--warm-black);
}

.index-main__parrafo-section-4 {
    width: 288px;
    margin: auto;
    margin-top: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #757575;
}


.index-main__tarjeta-pago {
    width: 190px;
    height: 247px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;

}


.index-main__btn-recomendado{
    width: 101px;
    height: 31px;
    padding: 8px;
    position: absolute;
    top: -15px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    text-decoration: none;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: var(--just-white);
}


.index-main__pago-anual{
   font-style: normal;
   margin-top: 30px;
   text-align: center;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: #000000; 
}

.index-main__pago-precio{
    font-family: "inter";
    font-style: normal;
    display: flex;
    
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    letter-spacing: -0.08em;
    color: #000000;
}

.index-main__signo-moneda{
    font-style: normal;
    font-weight: 500;
    padding-top: 10px;
    padding-right: 8px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #363636;
}

.index-main__nota-precio{
    text-align: center;
    margin-top: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #757575;
}

.index-main__btn-escoge{
   width: 151px;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 18px;
   background-color: var(--off-white);
   border: 2px solid var(--bitcoin-orange);
   border-radius: 4px;

   font-style: normal;
   font-weight: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 18px;
   text-decoration: none;
   color: var(--warm-black);
   
}

.index-main__icon-btn-escoger{

    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 8px;
    
    background-image: url("/css/assents/icons/orange-right-arrow.svg");

}